.parceiros {
	background-color: $whitesmoke;
	margin-top: 5.625rem;
	padding-bottom: 2rem;

	.title-with-square {
		.title {
			background-color: $whitesmoke;
		}
	}

	.accordion-link {
		&.collapsed {
			.item {
				.logo {
					filter: grayscale(100%);
				}

				&:hover {
					.logo {
						filter: grayscale(0%);
					}
				}
			}
		}
	}
}