.button-login {
	border: 1px solid $white;
	color: $white;
	display: inline-block;
	font-size: 0.875rem;
	line-height: 1;
	left: 50%;
	padding: 6px 10px;
	position: absolute;
	top: 50%;
	transform: translate(-25%, -50%);
	transition: 300ms;

	&:visited,
	&:focus {
		border: 1px solid $white;
		color: $white;
		background-color: transparent;

	}

	&:hover {
		color: $white;
		background-color: $orange;
		border: 1px solid $white;
	}

	@media (min-width: 992px) {
		font-size: 1.1875rem;
		left: auto;
		padding: 10px 15px;
		transform: none;
		top: 15px;
		right: 280px;
	}
}