.swiper-pagination {
	bottom: 0;
	left: 50% !important;
	transform: translateX(-50%);
	width: 100%;

	.swiper-pagination-bullet {
		background-color: #b5b5b5;
		border-radius: 0;
		width: 35px;
		height: 4px;
		margin: 0 10px;
		opacity: 1;
		position: relative;

		&.swiper-pagination-bullet-active{
			height: 9px;
			// &::before,
			// &::after {
			// 	content: '';
			// 	position: absolute;
			// 	left: 49%;
			// 	top: 49%;
			// 	transform: translate(-50%, -50%);
			// 	border-radius: 100%;
			// }

			// &::before {
			// 	background-color: #fff;
			// 	width: 12px;
			// 	height: 12px;
			// }

			// &::after {
			// 	width: 8px;
			// 	height: 8px;
			// }
		}
	}

	&.orange {
		.swiper-pagination-bullet-active {
			background-color: $orange;
			&::after {
				background-color: $orange;
			}
		}
	}

	&.blue {
		.swiper-pagination-bullet-active {
			background-color: $dark-blue;
			&::after {
				background-color: $dark-blue;
			}
		}
	}
}