// Colors
$white: #ffffff;
$black: #000000;

$whitesmoke: #f8f8f8;

$gray: #4e4e4e;
$darkgray: #454545;
$lightgray: #dddddd;

$dark-blue: #002e61;
$blue: #134a7f;

$footer-blue:#002c51;

$orange: #f07d00;

// Screen sizes
$extra-small: 320px;
$small: 480px;
$medium: 768px;
$large: 992px;
$extra-large: 1200px;