.no-padding {
	padding: 0 !important;
}

//=============================
// 					Fonts
//=============================
.text-light {
	font-weight: 300 !important;
}

.text-semibold {
	font-weight: 500 !important;
}

.text-bold {
	font-weight: 700 !important;
}